@import "../../variables.scss";

#profile {
    border-radius: 25px;
    
    h1,
    h2 {
        text-align: center;
    }
    &.dark-theme {
        background-color: $component-color-dark;
        label {
            color: white;
            opacity: 0.87;
        }

        input {
            border: 0.15em solid white;
            background-color: $background-dark;
        }
    }

    form {
        width: 100%;
    }

    form > div {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        gap: 20px;
        padding: 10px;

        @media only screen and (max-width: 495px) {
            flex-direction: column;
            
        }

        label {
            cursor: pointer;
            vertical-align: middle;
            margin: 0;
            padding: 0;
        }

    }
}
