li.nav-link {
    display: inline-block;
    @media only screen and (max-width: 1090px) {
        display: block;
        font-size: 2rem;
        margin-bottom: 1.5em;
    }
    
    @media only screen and (max-width: 410px) {
        font-size: 1.5rem;        
    }

    @media only screen and (max-width: 340px) {
        font-size: 1.2rem;        
    }

    a {
        color: white;
        text-decoration: none;
        padding: 10px;
        border-radius: 30px;
        transition: background-color 0.2s, color 0.2s;
        &:hover {
            background: white;
            color: black;
        }

        &:active {
            opacity: 0.5;
        }
    }
}