@import "../../../variables.scss";

.flashcard-body {
    display: block;
    margin: 0 auto 1em;
    border-top: none;
    text-align: left;

    &.light-theme {
        background: $component-color-light;
        border: 1px solid black;
    }

    &.dark-theme {
        background: $component-color-dark;
        border: 1px solid white;

        &.preview {
            background: $background-dark;
        }

        h1,
        h2,
        h3 {
            a {
                color: white;
                opacity: 0.87;
            }
        }

        .author, .date {
            color: white;
            opacity: 0.87;
        }
    }

    &.preview {
        width: 95%;
        min-height: 184px;

        @media only screen and (max-width: 1090px) {
            max-width: 500px;
        }

        h3 {
            margin-top: 0;
            padding: 10px 5px;
            border-bottom: 1px solid gray;
        }

        .info {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 5px;

            @media only screen and (max-width: 390px) {
                flex-direction: column;
                gap: 20px;
                padding: 5px 0;
            }

            .author {
                margin-bottom: 5px;
            }

            .date {
                font-style: italic;
            }

            .actions {
                display: flex;
                flex-direction: column;

                .button {
                    border-radius: 50px;
                    padding: 5px;
                    margin-bottom: 5px;

                    @media only screen and (max-width: 410px) {
                        font-size: 0.8rem;
                    }
                }

                .remove {
                    background-color: $remove-light;
                }
            }
        }
    }

    &.card {
        width: 500px;
        height: 400px;

        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;

        @media only screen and (max-width: 1220px) {
            width: 400px;
            height: 300px;
        }

        @media only screen and (max-width: 600px) {
            width: 350px;
        }

        @media only screen and (max-width: 525px) {
            width: 325px;
        }

        @media only screen and (max-width: 450px) {
            width: 300px;
        }

        @media only screen and (max-width: 350px) {
            width: 250px;
        }
    }
}
