@import "../../../../variables.scss";

.count {
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
}

#flashcard-form {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

    h2 {
        text-align: center;
    }

    .next, .previous {
        @include arrow;
    }

    .forms {
        display: flex;
        gap: 50px;
        @media only screen and (max-width: 1050px) {
            flex-direction: column;
        }
        .error {
            font-size: 0.8rem;
            margin-bottom: 2em;
        }
    }
}

.actions-form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 2em;
    gap: 10px;
    
    @media only screen and (max-width: 700px) {
        flex-direction: column;
    }

    .button {
        border-radius: 3px;
        padding: 10px;
        font-size: 1.2rem;

        @media only screen and (max-width: 700px) {
            margin: 0 auto;
            width: 500px;
            text-align: center;
            gap: 10px;
        }

        @media only screen and (max-width: 550px) {
            max-width: 250px;
        }

        &.delete {
            background: $remove-light;
        }
        &.add {
            background: $valid;
        }
    }
}
