@import '../../../variables.scss';

#basic-info-form {
    @include form;
    
    textarea {
        resize: vertical;
    }

    .button {
        width: 300px;
        @media only screen and (max-width: 450px) {
            width: 200px;
        }
    }
}