[for="search"] {
    width: 30%;
    border-radius: 14px;
    color: #4A4848;
    border: 3px solid #C5BDBD;
    background: white;
    cursor: text;
    display: flex;
    align-items: center;
    padding-left: 4px;
    font-size: 0.8rem;

    @media only screen and (max-width: 1060px) {
        width: 80%;
    }

    .fa {
        font-size: 1.25rem;
    }

    #search {
        border: none;
        outline: none;
        height: 100%;
        width: 100%;
        border-radius: 14px;
        margin-left: 5px;
        &::placeholder {
            font-style: italic;
        }
    }
}

#search::before::placeholder {
    content: 'test';
}