@import "../../variables.scss";

footer {
    text-align: center;
    color: white;
    font-size: 1.2rem;
    transition: background-color 0.4s;
    ul {
        list-style: none;
        padding: 0;
    }

    p {
        font-size: 0.8rem;
    }
}