@import "./variables";

* {
    box-sizing: border-box;
}

.app {
    display: flex;
    min-height: 100vh;
    min-width: 100%;
    flex-direction: column;
    justify-content: space-between;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

    &.light-theme {
        background-color: $background-light;
        #container {
            background-color: $component-color-light
        }

        p.error {
            color: #CC0000;
            font-weight: bold;
        }

        p.valid {
            color: #0E7206;
            font-weight: bold;
        }
    }

    &.dark-theme {
        background-color: $background-dark;
        h1, h2, h3 {
            color: #FFFFFF;
            opacity: 0.87;
        }

        #container {
            background-color: $component-color-dark;
        }

        p.error {
            color: rgba(251, 104, 104, 0.87);
        }
    }

    &.locked {
        position: fixed;
        top: 0;
    }
}


h1 {
    text-align: center;
    @media only screen and (max-width: 450px) {
        font-size: 1.2em;
    }
}

.purple {
    background-color: $theme-purple
}

.pink {
    background-color: $theme-pink;
}

.green {
    background-color: $theme-green;
}

.blue {
    background-color: $theme-blue;
}

.brown {
    background-color: $theme-brown;
}

.hidden {
    display: none;
}

.error {
    font-weight: bold;
    text-align: center;
}

.count.dark-theme {
    color: white;
    opacity: 0.87;
}