$background-light: #e8e8e8;
$background-dark: #363636;
$component-color-light: white;
$component-color-dark: #212121;

@mixin text-color-light {
    color: black;
    opacity: 1;
}

@mixin text-color-dark {
    color: rgba(255, 255, 255, 0.87);
}

$theme-purple: #5f3690;
$theme-blue: #0f5f71;
$theme-pink: #a4055b;
$theme-green: #0e7206;
$theme-brown: #953e0f;

$valid: #03a400;
$invalid: #db3535;

$remove-light: #cc0000;
$remove-dark: #fb6868;

$hyperlink-light: #214f4f;

@mixin arrow {
    background: none;
    border: none;
    font-size: 4rem;
    text-align: center;
    cursor: pointer;

    &:hover {
        opacity: 0.7;
    }

    &:active {
        text-shadow: 1px 0px 1px #cccccc, 0px 1px 1px #eeeeee, 2px 1px 1px #cccccc, 1px 2px 1px #eeeeee,
            3px 2px 1px #cccccc, 2px 3px 1px #eeeeee, 4px 3px 1px #cccccc, 3px 4px 1px #eeeeee, 5px 4px 1px #cccccc,
            4px 5px 1px #eeeeee, 6px 5px 1px #cccccc, 5px 6px 1px #eeeeee, 7px 6px 1px #cccccc,
            -10px 8px 17px rgba(157, 115, 141, 0.54);
    }

    &.invisible {
        visibility: hidden;
    }

    @media only screen and (max-width: 700px) {
        font-size: 3rem;
    }

    @media only screen and (max-width: 450px) {
        font-size: 2rem;
    }

    @media only screen and (max-width: 350px) {
        font-size: 1.3rem;
    }
}
