$background-light: #e8e8e8;
$background-dark: #363636;
$component-color-light: white;
$component-color-dark: #212121;

@mixin text-color-light {
    color: black;
    opacity: 1;
}

@mixin text-color-dark {
    color: rgba(255, 255, 255, 0.87);
    opacity: 0.87;
}

$theme-purple: #5f3690;
$theme-blue: #0f5f71;
$theme-pink: #a4055b;
$theme-green: #0e7206;
$theme-brown: #953e0f;

$valid: #03a400;
$invalid: #db3535;

$remove-light: #cc0000;
$remove-dark: #fb6868;

$hyperlink-light: #214f4f;

@mixin arrow {
    background: none;
    border: none;
    font-size: 4rem;
    text-align: center;
    cursor: pointer;

    &.dark-theme {
        color: white !important;

        &:active {
            text-shadow: 15px 15px 15px #000000;
        }
    }

    &:hover {
        opacity: 0.7;
    }

    &:active {
        text-shadow: 1px 0px 1px #cccccc, 0px 1px 1px #eeeeee, 2px 1px 1px #cccccc, 1px 2px 1px #eeeeee,
            3px 2px 1px #cccccc, 2px 3px 1px #eeeeee, 4px 3px 1px #cccccc, 3px 4px 1px #eeeeee, 5px 4px 1px #cccccc,
            4px 5px 1px #eeeeee, 6px 5px 1px #cccccc, 5px 6px 1px #eeeeee, 7px 6px 1px #cccccc,
            -10px 8px 17px rgba(157, 115, 141, 0.54);
    }

    &.invisible {
        visibility: hidden;
    }

    @media only screen and (max-width: 700px) {
        font-size: 3rem;
    }

    @media only screen and (max-width: 450px) {
        font-size: 2rem;
    }

    @media only screen and (max-width: 350px) {
        font-size: 1.3rem;
    }
}

@mixin form {
    display: flex;
    justify-content: center;
    flex-direction: column;

    &.light-theme {
        a {
            color: $hyperlink-light;
        }

        input,
        textarea {
            border: 2px solid #c5bdbd;
            &:focus {
                border: 2px solid black;
            }

            &.valid {
                border: 2px solid $valid;
            }

            &.invalid {
                border: 2px solid $invalid;
            }
        }
    }

    &.dark-theme {
        label {
            color: white;
            opacity: 0.87;
        }

        input,
        textarea {
            color: white;
            background: $background-dark;
            border: 2px solid #787878;
            &::placeholder {
                color: white;
                opacity: 0.72;
            }

            &:focus {
                border: 2px solid #c5bdbd;
            }
        }

        // a {
        //     color: $hyperlink-dark;
        // }
    }

    div.group {
        text-align: left;
        margin: 10px auto;

        & > .error {
            text-align: left;
        }

        label {
            display: block;
            cursor: pointer;
            font-style: italic;
            font-weight: bold;
            margin-bottom: 5px;
        }

        input,
        textarea {
            border-radius: 14px;
            padding: 15px 10px;
            width: 600px;
            // border: 2px solid #c5bdbd;

            // &:focus {
            //     border: 2px solid black;
            // }

            // &.valid {
            //     border: 2px solid $valid;
            // }

            // &.invalid {
            //     border: 2px solid $invalid;
            // }

            @media only screen and (max-width: 700px) {
                width: 400px;
            }

            @media only screen and (max-width: 470px) {
                width: 300px;
            }

            @media only screen and (max-width: 460px) {
                width: 250px;
            }
            // border: 1px solid #C5BDBD;
            // border: 1px solid #787878

            &::placeholder {
                font-style: italic;
            }

            // &:active {
            //     &.light-theme {
            //         border: 1px solid black;
            //     }
            //     &.dark-theme {
            //         border: 1px solid #C5BDBD;
            //     }
            // }
        }
    }

    button {
        width: 20%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        border-radius: 50px;
        padding: 20px;
        font-size: 1.2rem;

        @media only screen and (max-width: 1178px) {
            width: 40%;
        }

        @media only screen and (max-width: 617px) {
            width: 60%;
        }

        @media only screen and (max-width: 412px) {
            width: 90%;
        }
    }

    p {
        font-style: italic;
        padding: 5px;
        &.big {
            font-size: 1rem;
        }

        a {
            color: $hyperlink-light;
            text-decoration: underline;
            &:hover {
                text-decoration: none;
            }
        }
    }
}

@mixin button {
    position: relative;
    z-index: 1;

    border: 3px solid transparent;
    transition: filter 0.2s, border 0.5s, opacity 0.2s;
    cursor: pointer;
    font-weight: bold;

    margin-bottom: 2rem;
    &:hover:not(:disabled) {
        filter: brightness(0.8);
    }

    &:active:not(:disabled) {
        filter: brightness(0.7);
        opacity: 1;
        border: 3px solid black;
    }

    &:disabled {
        opacity: 0.8;
        cursor: no-drop;
    }
}

@mixin box-shadow-light-left {
    -webkit-box-shadow: -6px 5px 5px -3px #000000;
    box-shadow: -6px 5px 5px -3px #000000;
}

@mixin box-shadow-light-right {
    -webkit-box-shadow: 7px 6px 5px -8px #000000;
    box-shadow: 7px 6px 5px -8px #000000;
}

@mixin box-shadow-dark-left {
    -webkit-box-shadow: -6px 5px 5px -8px #fff;
    box-shadow: -6px 5px 5px -8px #fff;
}

@mixin box-shadow-dark-right {
    -webkit-box-shadow: 7px 6px 5px -8px #fff;
    box-shadow: 7px 6px 5px -8px #fff;
}
