// @import '../../index';
@import '../../variables.scss';

#auth {
    @include form;
    a {
        color: $hyperlink-light;
        text-decoration: underline;
        &:hover {
            text-decoration: none;
        }
    }
}