// @import '../../index';
// @import '../../variables.scss';
@import '../../form.scss';

#auth {
    a {
        color: $hyperlink-light;
        text-decoration: underline;
        &:hover {
            text-decoration: none;
        }
    }
}